/* Global */

:root {
  color-scheme: light dark;

  --primary: #444;
  --secondary: #0b72c7;
  --helvetica: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --georgia: 'Georgia', 'Times New Roman', serif;
  --15px: 0.938rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --60px: 3.75rem;
  --52px: 3.25rem;
  --40px: 2.5rem;
}

/* Reset */
*, * :before, * :after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: var(--helvetica);
  color: var(--primary);
  font-size: var(--20px);
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
  text-rendering: optimizeLegibility;
  cursor: default;

  @media (prefers-color-scheme: dark) {
    background-color: #222;
    color: #f1f1f1;
  }
}

a {
  color: var(--secondary);
  text-decoration: underline;
}

h1, h2, h3, p, ul, ol {
  margin-bottom: var(--15px);
}
h1, h2, h3 {
  font-family: var(--georgia);
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary);

  @media (prefers-color-scheme: dark) {
    color: #f1f1f1;
  }
}
h1 {
  font-size: var(--60px);

  @media (max-width: 800px) {
    font-size: var(--52px);
  }
  @media (max-width: 480px) {
    font-size: var(--40px);
  }
}
h2 {
  font-size: var(--40px);

  @media (max-width: 480px) {
    font-size: var(--32px);
  }
}
h3 {
  font-size: var(--28px);

  @media (max-width: 480px) {
    font-size: var(--24px);
  }
}

p {
  line-height: 1.4;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

ul, ol {
  list-style: none;
}
ul {
  margin-left: 25px;
  list-style: disc;

  & li {
    margin-bottom: 5px;
  }
}

hr {
  margin: var(--30px) 0;
  border: 0;
  border-bottom: #ddd 1px solid;
  height: 0;
}

/* Layout */

.container {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 960px;
  text-align: left;

  @media (max-width: 990px) {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (max-width: 480px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.row {
  @media (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;
    gap: 20px;
  }
}

@media (min-width: 480px) {
  .col-2, .col-3 { grid-column: auto / span 6; }
  .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { grid-column: auto / span 12; }
}
@media (min-width: 600px) {
  .col-2, .col-3, .col-4 { grid-column: auto / span 6; }
  .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { grid-column: auto / span 12; }
}
@media (min-width: 800px) {
  .col-2 { grid-column: auto / span 2; }
  .col-3 { grid-column: auto / span 3; }
  .col-4 { grid-column: auto / span 4; }
  .col-5 { grid-column: auto / span 5; }
  .col-6 { grid-column: auto / span 6; }
  .col-7 { grid-column: auto / span 7; }
  .col-8 { grid-column: auto / span 8; }
  .col-9 { grid-column: auto / span 9; }
  .col-10 { grid-column: auto / span 10; }
  .col-11 { grid-column: auto / span 11; }
  .col-12 { grid-column: auto / span 12; }
}

/* Utilities */

.btn {
  display: inline-block;
  border-radius: 50px;
  background: #0b72c7;
  padding: 15px 30px;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-align: center;
}

.icons {
  & div {
    text-align: center;
    white-space: pre-line;

    & img {
      display: inline-block;
    }
  }
}

img.fill {
  width: 100%;
  height: auto;
}

.vertical-align {
  display: grid;
  align-items: center;
}

/* Header */

header {
  & .logo {
    float: left;

    @media (max-width: 480px) {
      float: none;
    }
  }
  & p {
    margin-bottom: 0;
  }
  & nav {
    & ul {
      list-style: none;
      margin-bottom: 0;
      margin-left: 0;
      text-align: right;

      @media (max-width: 990px) {
        text-align: left;
      }

      & li {
        display: inline-block;
        padding-right: 10px;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

/* Footer */
footer {
  &.container {
    text-align: center;
  }
}