/* Global */

:root {
  --primary: #444;
  --secondary: #1467ac;
  --helvetica: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --georgia: 'Georgia', 'Times New Roman', serif;
  color-scheme: light dark;
}

/* Reset */
*, * :before, * :after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: var(--helvetica);
  color: var(--primary);
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
  text-rendering: optimizeLegibility;
  cursor: default;
}

a {
  color: var(--secondary);
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 15px;
  font-family: var(--georgia);
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary);
}
h1 {
  font-size: 3.75rem;

  @media (max-width: 800px) {
    font-size: 3.25rem;
  }
  @media (max-width: 480px) {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 2.5rem;

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.75rem;

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

p {
  margin-bottom: 15px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

ul, ol {
  list-style: none;
}
ul {
  margin-bottom: 15px;
  margin-left: 25px;
  list-style: disc;

  li {
    margin-bottom: 5px;
  }
}

hr {
  margin: 30px 0;
  border: 0;
  border-bottom: #ddd 1px solid;
  height: 0;
}

/* Container */

.container {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 960px;
  text-align: left;

  @media (max-width: 990px) {
    width: 100%;
    padding: 0 30px;
  }
  @media (max-width: 480px) {
    padding: 0 15px;
  }
}

.row {
  @media (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;
    gap: 20px;
  }
  img.fill {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 480px) {
  .col-2 { grid-column: auto / span 6; }
  .col-3 { grid-column: auto / span 6; }
  .col-4 { grid-column: auto / span 6; }
  .col-6 { grid-column: auto / span 6; }
  .col-8 { grid-column: auto / span 12; }
  .col-9 { grid-column: auto / span 12; }
  .col-10 { grid-column: auto / span 12; }
  .col-12 { grid-column: auto / span 12; }
}
@media (min-width: 800px) {
  .col-2 { grid-column: auto / span 2; }
  .col-3 { grid-column: auto / span 3; }
  .col-4 { grid-column: auto / span 4; }
  .col-6 { grid-column: auto / span 6; }
  .col-8 { grid-column: auto / span 8; }
  .col-9 { grid-column: auto / span 9; }
  .col-10 { grid-column: auto / span 10; }
  .col-12 { grid-column: auto / span 12; }
}

/* Utilities */

.btn {
  display: inline-block;
  border-radius: 50px;
  background: #333;
  padding: 15px 30px;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-align: center;
}

.icons {
  div {
    text-align: center;
    white-space: pre-line;

    img {
      display: inline-block;
    }
  }
}

/* Header */

header {
  nav {
    ul {
      float: right;
      list-style: none;
      margin-left: 0;

      li {
        display: inline-block;
        padding-right: 10px;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

/* Footer */
footer {
  text-align: center !important;
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #222 !important;
  }
  h1, h2, h3, p, ul li, code {
    color: #f1f1f1 !important;
  }
  a.btn {
    background: #a6a6a6 !important;
    color: #404040 !important;
  }
}