/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* HTML5 display-role reset for older browsers */

article, aside,
details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Global */

@font-face {
  font-family: "Playfair Display";
  font-weight: 300;
  src: url("PlayfairDisplay-Regular.ttf") format("truetype");
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  cursor: default;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

a {
  color: #1467ac;
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 15px;
  font-family: "Playfair Display", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1em;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 28px;
}
p {
  margin-bottom: 15px;
}

/* Main container */

.container {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 960px;
  text-align: left;
}